
.auth-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-container {
    width: 100%;
    height: 87.5vh;
    margin-top: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-box {
    width: 30rem;
    height: 27.5rem;
    border-radius: 1.5rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.form-header-div {
    width: 100%;
    height: 10%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header {
    font-size: 200%;
    font-family: fsme;
    color: white;
}

.input {
    width: 75%;
    height: 10%;
    background: none;
    border: 2px solid white;
    border-radius: 1rem;
    padding-left: 0.5rem;
    color: black;
    margin-bottom: 10%;
    color: white;
}

.input:focus {
    outline: none;
}

.input-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}