* {
    font-family: fsme;
}

.plan-page-wrapper {
    background-color: black !important;
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
}

.plan-page-header {
    font-weight: 600;
    color: gold;
    font-size: 3vw;
    text-shadow: 0 0 5px black;
}

.plan-page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.plan-container {
    width: 100%;
    height: 85vh;
    display: flex;
    padding-top: 2vh;
    text-shadow: 0 0 5px black;
}

.video-container {
    width: 45vw;
    height: 50vh;
    border: 2px solid white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    margin-right: 10%;
    margin-left: 10%;
}

.plan-info {
    height: 75vh;
    width: 20vw;
    border-radius: 1rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-plan {
    border-radius: 0.5rem;
    width: 85%;
    max-height: 20vh;
    margin-top: 2vh;
}

.plan-sub {
    color: gold;
    text-shadow: 0 0 5px black;
    margin-top: 1vh;
    font-weight: 500;
}

.span-plan-info {
    color: gold;
    text-shadow: 0 0 5px black;
    opacity: 0.3;
    margin-top: 1vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
}

.stripe-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.stripe-btn {
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 0.5rem;
    font-family: fsme;
    font-weight: 600;
}


@media (max-width: 1000px) {
    .plan-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .plan-info {
        margin-top: 2rem;
        margin-bottom: 2rem;
        min-height: 20rem !important;
        min-width: 30vw;
    }

    .video-container {
        height: 50rem !important;
        width: 50vw !important;
        margin: 0;

    }
}

.call-btn {
    height: 5rem;
    width: 10rem;
    border: 2px solid black;
    background-color: white;
    border-radius: 0.5rem;
    font-family: fsme;
    font-weight: 600;
}

.call-div {
    min-height: 5rem;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

@media (max-width: 600px) {
    .call-btn {
        height: 4rem !important;
        width: 8rem !important;
        font-size: 0.75rem !important;
}

.stripe-btn {
    height: 3rem !important;
    width: 6rem !important;
    font-size: 0.75rem !important;
}

.span-plan-info {
    font-size: 0.75rem !important;
}

.plan-info {
    width: 15rem;
    height: 12rem;
}

.video-container {
    width: 15rem !important;
    height: 12rem !important;
}

}