
.courses-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.courses-top {
    width: 100%;
    height: 12.5vh;
    padding-left: 2%;
    display: flex;
    align-items: center;
}

.courses-sub {
    font-size: 2rem;
    font-weight: 500;
    color: white;
}   

.courses-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-card {
    color: white;
    width: 25vw;
    height: 60vh;
    border: 2px solid white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    margin-right: 1.5vw;
    align-items: center;
}

.course-img {
    border: 2px solid white;
    border-radius: 1rem;
    width: 75%;
    height: 20vh;
    margin-bottom: 1vh;
}

.bar-span {
    font-size: 0.8rem;
    margin-left: 0.2vw;
}

.bar-bottom-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.course-card-top {
    height: 50%;
    width: 100%;
    display: contents;
    align-items: center;
    justify-content: center;    
}

.course-btn {
    width: 90%;
    height: 5vh;
    border: 2px solid white;
    color: white;
    border-radius: 0.5rem;
    font-family: fsme;
    font-weight: 600;
}
