.fade-out {
    opacity: 0;
    transition: all ease-in-out 1s;
}

.courses-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    transition: opacity 0.5s ease, height 0.5s ease;
}

.courses-top {
    width: 100%;
    height: 12.5vh;
    padding-left: 2%;
    display: flex;
    align-items: center;
}

.courses-sub {
    font-size: 2rem;
    font-weight: 500;
    color: white;
}   

.courses-card-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.course-card {
    color: white;
    width: 20rem;
    height: 60vh;
    border: 2px solid white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    margin-right: 1.5vw;
    margin-bottom: 5rem;
    align-items: center;
    
}

.course-img-div {
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1vh;
}

@media (max-width: 1100px) {
    .courses-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


.course-img {
    border-radius: 1rem;
    box-shadow: 0px 0px 10px silver;
}

@media (max-width: 400px) {
    .course-card {
        width: 15rem !important;
    }

    .course-img-div {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .course-img {
        width: 10rem !important;
        height: 10rem !important;
    }

}

.bar-span {
    font-size: 0.8rem;
    margin-left: 0.2vw;
}

.bar-bottom-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.course-card-top {
    height: 50%;
    width: 100%;
    display: contents;
    align-items: center;
    justify-content: center;    
}

.course-btn {
    width: 90%;
    height: 5vh;
    border: 2px solid white;
    color: white;
    border-radius: 0.5rem;
    font-family: fsme;
    font-weight: 600;
}


.hidden {
    display: none;
}

.red {
    color: red;
}

.before-watching-courses {
    height: 400px;
    position: absolute;
}