* {
    font-family: fsme;
}

.plan-page-wrapper {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.plan-page-header {
    font-weight: 600;
    color: white;
    font-size: 3vw;
}

.plan-page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.plan-container {
    width: 100%;
    height: 85vh;
    display: flex;
    padding-top: 2vh;
}

.video-container {
    width: 45vw;
    height: 50vh;
    border: 2px solid white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
}

.plan-info {
    height: 75vh;
    width: 20vw;
    border-radius: 1rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-plan {
    border-radius: 0.5rem;
    width: 85%;
    max-height: 20vh;
    margin-top: 2vh;
}

.plan-sub {
    color: white;
    margin-top: 1vh;
    font-weight: 500;
}

.span-plan-info {
    color: white;
    opacity: 0.3;
    margin-top: 1vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

.stripe-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.stripe-btn {
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 0.5rem;
    font-family: fsme;
    font-weight: 600;
}
