.access-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 3vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.access-text {
    font-weight: bolder;
    color: gold;
    text-shadow: 0 0 5px black;
    font-family: ITC;
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
    animation: fadeIn 0.5s ease-in-out; 
    display: flex;
}

.add-member-wrapper {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-member-container {
    width: 100vh;
    min-height: 90%;
    border: 3px solid rgb(255, 215, 0); 
    background-color: black;
    border-radius: 1.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-subtitle {
    font-size: 2rem !important;
    color: gold;
    text-shadow: 0 0 5px gold;
    margin-top: 1.25vh;
    text-align: center;
}

.add-member-form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-member-input {
    width: 50%;
    height: 2rem;
    margin-top: 3vh;
    border-radius: 1rem;
    background-color: transparent;
    border: 2px solid gold;
    color: gold;
    text-shadow: 0 0 2px gold;
    padding-left: 0.5rem;
}

.add-member-input::placeholder {
    color: gold;
    text-shadow: 0 0 2px gold;
}

.add-member-input:focus {
    outline: none;
}

.add-member-button-access {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    background: #FFD814;
    border: 1px solid #FCD200;
    font-size: 13px;
    height: 31px;
    padding: 0 11px;
    text-align: center;
    width: 6rem !important;
    font-weight: 500;
    color: #0F1111;
    :hover{
        background: #F7CA00;
        border-color: #F2C200;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    }
    margin-bottom: 1rem;
    }

.warning-span {
    color: white;
    text-align: center;
}

@media (max-width: 750px) {
    .access-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .warning-span {
        font-size: 0.75rem !important;
    }

    .header-subtitle {
        font-size: 1rem !important;
    }
}

@media (max-width: 300px) {
    .warning-span {
        font-size: 0.6rem !important;
    }

    .header-subtitle {
        font-size: 0.8rem !important;
    }

}

